<h2>Welcome to Warhammer 40k Battlegrounds</h2>
<% if @player %>
  <div class="player">
          
    Your Unit: <br>
    Name: <%= @player[:attributes][:name] %><br>
    Weapon: <%= @player[:weapons][:data].first[:attributes][:name] %>
  </div><br>
<% end %>

<% if @opponent %>
  <div class="opponent">
    Opponent's Unit: <br>
    Name: <%= @opponent[:attributes][:name] %><br>
    Weapon: <%= @opponent[:weapons][:data].first[:attributes][:name] %>
  </div><br>
<% end %>

<div><%= link_to 'Choose Units', search_index_path %></div>

<% if @player && @opponent %>
  <%= form_with url: fight_index_path, method: :get, local: true do |form| %>
    <%= hidden_field_tag :player, @player.to_json %>
    <%= hidden_field_tag :opponent, @opponent.to_json %>

    <div><%= f.submit "Start Fight" %></div>
  <% end %>
<% end %>