<h2>Welcome to Warhammer 40k Battlegrounds</h2>
<% if @attacker %>
  <div class="attacker">
          
    Attacker Unit: <br>
    Name: <%= @attacker[:attributes][:name] %><br>
    Weapon: <%= @attacker[:weapons][:data].first[:attributes][:name] %>
  </div><br>
<% end %>

<% if @defender %>
  <div class="defender">
    Defender's Unit: <br>
    Name: <%= @defender[:attributes][:name] %><br>
    Weapon: <%= @defender[:weapons][:data].first[:attributes][:name] %>
  </div><br>
<% end %>

<div><%= link_to 'Choose Units', search_index_path %></div>

<% if @attacker && @defender %>
  <%= form_with url: fight_index_path, method: :get, local: true do |form| %>
    <%= hidden_field_tag :attacker, @attacker.to_json %>
    <%= hidden_field_tag :defender, @defender.to_json %>

    <div><%= form.submit "Start Fight" %></div>
  <% end %>
<% end %>