<div id="factions">
  <%= form_with url: search_index_path, method: :get, data: {turbo: false}, local: true do |form| %>
      <%= select_tag(:faction_id, options_for_select(factions_search)) %>
      <%= submit_tag('Search For Units') %>
  <% end %>
</div><br>

<% if @units_json %>
  <div class="results">
  <%= form_with url: dashboard_path, method: :get, data: {turbo: false}, local: true do |form| %>
    <% @units_json[:data].each do |unit| %>
      <% if !unit[:weapons][:data].empty? %>
        <div id=<%= "unit_#{unit[:id]}" %> >

          <div class="name">Name: <%= unit[:attributes][:name] %></div>
          
          <div class="weapon">Weapon: <%= unit[:weapons][:data].first[:attributes][:name] %></div>
          <div>
            <label>
              <%= form.radio_button :attacker, unit.to_json %>
              Select for Attacker
            </label>
          </div>
          <div>
            <label>
              <%= form.radio_button :defender, unit.to_json %>
              Select for Defender
            </label>
          </div>

        </div><br>
      <% end %>
    <% end %>
    <%= form.submit "Submit" %>
  <% end%>
  </div>
<% end %>